FLASK_CONFIG=dev
CRM_BUILDER=http://g.localhost.app
WEBSITE_BUILDER=http://www.localhost.app
SECRET_KEY=''
API_URL=http://g.localhost.app/api/available-houses/

DEBUG=false
TESTING=false
DEVELOPMENT=false

SITE_NAME=
COMPANY_NAME=
EMAIL_ADDRESS=support@localhost.app
EMAIL_ADDRESS_CONTACT=contact@localhost.app
PHONE_NUMBER="(225) 01 5157 1396"
PHONE_NUMBER_TWO="07 7727 4886"
PHONE_NUMBER_THREE="(225) 00 0000 0001"
WHATSAPP_NUMBER=+2250151571396

FLATPAGES_EXTENSION=".md"
FLATPAGES_ROOT="pages/"
FLATPAGES_MARKDOWN_EXTENSIONS="['codehilite']"
