<section class="overflow-hidden">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-xl-8 position-relative z-index-9">

                <h1 class="fs-2 text-primary lh-sm text-start mb-3">Suivez vos activités à tout moment.</h1>

                <p class="lh-base">Nous proposons des applications mobiles pour Android et iOS qui simplifient le suivi de vos activités. Avec nos applications, vous pouvez facilement suivre vos activités en toute simplicité.</p>

                <p class="lh-base">Optimisées pour une expérience utilisateur fluide, nos applications mobiles sont conçues pour vous permettre de suivre vos activités en toute commodité.</p>
            </div>

            <div class="col-xl-4 text-center">
                <img loading="lazy" src="{{ url_for('static', filename='img/element/14.svg') }}" alt="venone-app-download">
                <div class="row g-2 mt-3 justify-content-center">
                    <div class="col-6 col-sm-4 col-xxl-6 text-center">
                        <a href="#">
                            <img width="180" height="80" loading="lazy" src="{{ url_for('static', filename='img/client/google-play.svg') }}" class="btn-transition" alt="venone-google-play-app">
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-xxl-6">
                        <a href="#">
                            <img width="180" height="80" loading="lazy" src="{{ url_for('static', filename='img/client/app-store.svg') }}" class="btn-transition" alt="venone-app-store-app">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
