<section class="pt-4 pt-lg-5">
    <div class="container">
        <div class="row align-items-center g-3 py-3">
            <div class="col-sm-8 col-xl-8">
                <h1 class="fs-2 lh-base fw-bold text-primary">Moyens de paiements</h1>
                <p>Venone est une application de gestion immobilière qui assure la sécurité de vos informations personnelles et financières en utilisant des mesures de sécurité avancées.</p>
            </div>
            <div class="col-sm-4 col-xl-4">
                <div class="card card-body shadow-none h-100">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='img/element/operators.webp') }}" class="h-200px w-280px" alt="venone-money">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
