<section class="pt-4 pt-lg-5">
    <div class="container">
        <div class="row justify-content-center g-3 mb-5">
            <div class="col-sm-6 col-lg-4 d-flex align-items-center">
                <h1 class="fs-2 lh-base fw-bold text-primary">
                    Comment <br> nous facturons ?
                </h1>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card card-body bg-light p-4 h-100">
                    <h1 class="fs-4 mb-3">Pour les agences immobilières</h1>
                    <p class="fs-5">
                        <strong class="fs-4 text-danger">6%</strong> récupérer sur chaque loyer.
                    </p>
                    <p class="mb-0">
                        <ul class="list-group list-group-borderless mb-4">
                            <li class="list-group-item fw-light d-flex">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Tableau de bord complet</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Accès à la Liste des propriétés disponibles dans votre zone</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Traitement de paiement instantané</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Statistiques en temps réel</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Rappel de paiement via SMS</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Assistance technique 24h/24</span>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card card-body bg-light p-4 h-100">
                    <h1 class="fs-4 mb-3">Pour les propriétaires de maison</h1>
                    <p class="fs-5"><strong class="fs-4 text-danger">7%</strong> récupérer sur chaque loyer.</p>
                    <p class="mb-0">
                        <ul class="list-group list-group-borderless mb-4">
                            <li class="list-group-item fw-light d-flex">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Tableau de bord complet</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Traitement de paiement instantané</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Statistiques en temps réel</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Rappel de paiement via SMS</span>
                            </li>
                            <li class="list-group-item fw-light d-flex mb-0">
                                <i class="fas fa-check-circle text-success me-2"></i>
                                <span>Assistance technique 24h/24</span>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
