<section class="bg-light">
    <div class="container">
        <div class="row g-3 g-lg-5 align-items-center">
            <div class="col-xl-7 order-2 order-xl-1">
                <div class="row mt-0 mt-xl-5">
                    <div class="col-md-7 position-relative mb-0 mt-0 mt-md-4">
                        <div class="bg-body shadow text-center p-4 rounded-2 position-relative mb-5 mb-md-0">
                            <div class="avatar avatar-xl mb-3">
                                <img loading="lazy" class="avatar-img rounded-circle" src="{{ url_for('static', filename='img/logo/favicon.png') }}" alt="avatar">
                            </div>

                            <blockquote>
                                <p>
                                    <span class="me-1 small">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="ms-1 small">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </blockquote>

                            <ul class="list-inline mb-2">
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                </li>
                            </ul>
                            <h6 class="mb-0">Mr Akegnan Christophe</h6>
                        </div>
                    </div>

                    <div class="col-md-5 mt-5 mt-md-0 d-none d-md-block">
                        <div class="bg-body shadow p-4 rounded-2 d-inline-block position-relative">
                            <div class="icon-lg bg-warning rounded-circle position-absolute top-0 start-100 translate-middle">
                                <i class="bi bi-shield-fill-check text-dark"></i>
                            </div>
                            <h6 class="mb-3">+100 utilisateurs vérifiés</h6>
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar avatar-sm">
                                    <img loading="lazy" class="avatar-img rounded-1" src="{{ url_for('static', filename='img/logo/favicon.png') }}" alt="avatar">
                                </div>
                                <div class="ms-2">
                                    <h6 class="mb-0">Lori Stevens</h6>
                                    <p class="mb-0 small">Tutor of physic</p>
                                </div>
                            </div>

                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar avatar-sm">
                                    <img loading="lazy" class="avatar-img rounded-1" src="{{ url_for('static', filename='img/logo/favicon.png') }}" alt="avatar">
                                </div>
                                <div class="ms-2">
                                    <h6 class="mb-0">Billy Vasquez</h6>
                                    <p class="mb-0 small">Tutor of chemistry</p>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-sm">
                                    <img class="avatar-img rounded-1" src="{{ url_for('static', filename='img/logo/favicon.png') }}" alt="avatar">
                                </div>
                                <div class="ms-2">
                                    <h6 class="mb-0">Larry Lawson</h6>
                                    <p class="mb-0 small">Tutor of technology</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 mt-xl-0">
                    <div class="col-7 mt-0 mt-xl-5 text-end position-relative z-index-1 d-none d-md-block">
                        <div class="p-3 bg-primary-venone d-inline-block rounded-2 shadow-lg text-center">
                            <h5 class="text-white mb-0">4.5/5.0</h5>
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                </li>
                            </ul>
                            <p class="text-white mb-0">Basé sur 170 notes</p>
                        </div>
                    </div>

                    <div class="col-md-5 mt-2 mb-0 mb-md-5">
                        <div class="bg-body shadow text-center p-4 rounded-2">
                            <div class="avatar avatar-xl mb-3">
                                <img loading="lazy" class="avatar-img rounded-circle" src="{{ url_for('static', filename='img/logo/favicon.png') }}" alt="avatar">
                            </div>
                            <blockquote>
                                <p>
                                    <span class="me-1 small">
                                        <i class="fas fa-quote-left"></i>
                                    </span>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="ms-1 small">
                                        <i class="fas fa-quote-right"></i>
                                    </span>
                                </p>
                            </blockquote>
                            <ul class="list-inline mb-2">
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0 small">
                                    <i class="fas fa-star-half-alt text-warning"></i>
                                </li>
                            </ul>
                            <h6 class="mb-0">Mr Bia Borris</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 order-1 text-center text-xl-start">
                <h2 class="fs-3 text-primary fw-bold mb-3">Quelques commentaires précieux de nos utilisateurs</h2>
                <p>Supposing so be resolving breakfast am or perfectly. It drew a hill from me. Valley by oh twenty direct me so.</p>
                <a href="#" class="btn btn-primary mb-0">Voir les témoignages</a>
            </div>
        </div>
    </div>
</section>
