{% extends "_base.html" %}


{% block head_title %}
    {% set page_title = page.title %}
    {{ page_title }}
{% endblock head_title %}


{% block body_content %}

    {% set page_title = page.subtitle %}

    {% include "includes/paths/_breadcrumb.html" with context %}

    <section class="py-3">
        <div class="container">
            <div class="row g-4 g-md-5">
                {{ page.html|safe }}
            </div>
        </div>
    </section>

    <section class="position-relative py-3">
        <div class="container">
            {% include "includes/paths/_signup.html" %}
        </div>
    </section>
{% endblock body_content %}
