{% extends "_base.html" %}

{% block body_content %}
	<section class="bg-primary bg-opacity-10">
	    <div class="container">
	        <div class="row g-4 g-sm-4 align-items-center py-3">
	            <div class="col-lg-6 col-xl-5">
	                <h1 class="h3 fw-bold text-primary">Gérez vos biens locatifs en toute tranquillité.</h1>

	                <p class="mb-5">
	                    Trouvez votre partenaire de confiance pour piloter votre activité de gestion de biens immobiliers avec notre logiciel complet de gestion locative et de vente de biens immobiliers et fonciers.
	                </p>

	                <div class="d-sm-flex justify-content-sm-between align-items-center">
	                    <div class="d-flex align-items-center">
	                        <h5 class="mb-0 me-2">4.5/5.0</h5>
	                        <ul class="list-inline mb-1">
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star text-warning"></i>
	                            </li>
	                            <li class="list-inline-item me-0 mb-0">
	                                <i class="fas fa-star-half-alt text-warning"></i>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>

	            <div class="col-lg-6 col-xl-7 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/16.svg') }}" alt="{{ config.SITE_NAME|safe }}">
	            </div>
	        </div>
	    </div>
	</section>

	<section class="bg-white position-relative">
	    <div class="container">
	        <div class="row mb-4">
	            <div class="col-sm-10 col-xl-6 text-center mx-auto">
	                <h1 class="fs-2 text-primary fw-bold mb-2">Comment ça marche ?</h1>
	                <p class="mb-0 fs-7">
	                    Démultipliez votre productivité en gestion immobilière en optant pour la dématérialisation.
	                    Fini le stress de la paperasse grâce à une solution automatisée pour gérer vos logements, et concentrez-vous sur l'essentiel.
	                </p>
	            </div>
	        </div>

	        <div class="row g-4 g-md-5">
	            <div class="col-md-4 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/create-account.svg') }}"  class="h-200px" alt="create-account">
	                <h1 class="mt-3 fs-5">Créer votre compte</h1>
	                <p class="text-truncate-2 mb-0">Créer votre compte en moins d'une minute</p>
	            </div>

	            <div class="col-md-4 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/add-course.svg') }}" class="h-200px" alt="">
	                <h1 class="mt-3 fs-5">Enregistrer vos entités</h1>
	                <p class="text-truncate-2 mb-0">Commencer à lister vos biens locatifs.</p>
	            </div>

	            <div class="col-md-4 text-center">
	                <img loading="lazy" src="{{ url_for('static', filename='img/element/earn-money.svg') }}" class="h-200px" alt="earn-money">
	                <h1 class="mt-3 fs-5">Encaisser vos loyers</h1>
	                <p class="text-truncate-2 mb-0">
	                	Encaisser automatiquement vos loyers.
	                </p>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="bg-light position-relative">
	    <div class="container">
	        <div class="row g-4 align-items-center justify-content-between">
	            <div class="col-md-6 col-xl-6">
	                <h1 class="fs-2 text-primary lh-sm text-start mb-4">
	                	Une pile de <br>
	                	fonctionnalités innovantes
	                </h1>
	                <p class="lead">
	                	Découvrez sur notre plateforme des fonctionnalités innovantes pour une gestion optimale de vos biens immobiliers.
	                </p>
	            </div>

	            <div class="col-md-6 col-xl-6">
	                <div class="row g-4">
	                	<div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center mb-3">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-currency-dollar text-primary"></i>
									</span>
									<div class="ms-3">
										<h1 class="fs-6">Règlement de loyer mensuel</h1>
									</div>
								</div>
								<p>
									Encaissez facilement les loyers de vos propriétés par mobile money.
								</p>
							</div>
						</div>

	                    <div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center mb-3">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-chat-left-text text-primary"></i>
									</span>
									<div class="ms-3">
										<h1 class="fs-6">SMS de notifications</h1>
									</div>
								</div>
								<p>
									Facilitez le paiement de vos locataires avec notre système d'alerte.
								</p>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center mb-3">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-pie-chart-fill text-primary"></i>
									</span>
									<div class="ms-3">
										<h1 class="fs-6">Rapport d'activité</h1>
									</div>
								</div>
								<p>
									Produisez les rapports financiers nécessaires à tout moment.
								</p>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6 col-xl-6">
							<div class="card card-body shadow h-100">
								<div class="d-flex align-items-center mb-3">
									<span class="display-5 lh-1 text-info mb-0">
										<i class="bi bi-graph-up-arrow text-primary"></i>
									</span>
									<div class="ms-3">
										<h1 class="fs-6">Statistiques</h1>
									</div>
								</div>
								<p>
									Surveillez votre activité en analysant régulièrement vos statistiques.
								</p>
							</div>
						</div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	{% include "includes/paths/_payment.html" %}

	<section class="position-relative">
	    <div class="container">
	    	<div class="row mb-4">
	            <div class="col-sm-10 col-xl-6 text-center mx-auto">
	                <h1 class="fs-5 text-primary mb-0">
	                	Simplifiez la gestion des vos biens immobiliers en vous inscrivant en 5 minutes.
	                </h1>
	            </div>
	        </div>

	        {% include "includes/paths/_signup.html" %}
	    </div>
	</section>

	{% include "includes/paths/_review.html" %}

	{% include "includes/paths/_mobile.html" %}
{% endblock body_content %}
